<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>リアルタイム検索</string>
	<key>Extension Identifier</key>
	<string>jp.telabo.popclip.extension.yahoo-japan-realtime-search</string>
	<key>Extension Description</key>
	<string>Search for topics on Yahooリアルタイム検索.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>http://realtime.search.yahoo.co.jp/search?p={popclip text}</string>
			<key>Title</key>
			<string>リアルタイム検索</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,50}$</string>
            <key>Image File</key>
			<string>yjreal.png</string>
		</dict>
	</array>
</dict>
</plist>
